{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12 text-center">
            <hr>
            <h2 class="logo-font mb-4">Add a quote</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center">
            <form method="POST" action="{% url 'quote' %}" class="form mb-2">
                {% csrf_token %}
                {% for field in form %}     
                    {{ field | as_crispy_field }}         
                {% endfor %}
                <div class="text-right">
                    <a class="btn btn-outline-black rounded-0" href="{% url 'home' %}">Cancel</a>
                    <button class="btn btn-black rounded-0" type="submit">Add Quote</button>
                </div>
            </form>
        </div>            
    </div>

{% endblock %}