{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %} 
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-4">
                <div class="card w-50 border-dark" style="width: 18rem;">
                    <div class="card text-dark">
                        <div class="card-header">
                            <strong>Order Design</strong>
                        </div>
                        <div class="card-body">
                        <h5 class="card-title text-uppercase">{{ quote.category }}</h5>
                        <p class="card-text">{{ quote.description }}</p>
                        <p class="card-text">{{ quote.size }}</p>
                        <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0">Cancel</a>
                        <a href="#" class="btn btn-black rounded-0">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

